@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Open Sans", "Ubuntu";
}

:root {
  --primary: #1ffbe8;
  --secondary: #34ff80;
  --dark: #1a1a1a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: currentColor;
}

body {
  color: var(--dark);
  overflow-x: hidden;
}

main {
  margin-top: 3.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}
.scr::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background: #808080;
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

.shadowboard {
  background-image: url("https://bennettfeely.com/clippy/pics/pittsburgh.jpg");
  background-size: contain;
}

.clipped-image {
  background-image: url("https://bennettfeely.com/clippy/pics/pittsburgh.jpg");
  background-size: contain;
}